table#cal1 {
    width: 100% !important;
}
table#cal1 td {
    position: relative;
    overflow: visible !important;
}
table#cal1 td span {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 10px;
    width: 100px;
    heigth: 100px;
    border: 1px solid grey;
    z-index: 1000;
}
table#cal1 td span:hover {
    z-index: 10000000;
}

.dayoff {
    color: red !important;
}
.tdinfo {
    margin: 2px 0px 2px 0px;
}
.fc-table {
    background-color: #f8f8f8;
}
.fc-table th, .fc-table td {
    white-space: pre;
    text-align: center;
    font-weight: 200;
}
.fc-table th {
    background-color: #76a9ef;
    color: white;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.fc-table td {
    width: 14.28% !important;
    height: 12.5% !important;
    padding-top: 7px;
    padding-bottom: 7px;
}
.fc-table td.dayoff {
    background-color: #fdefee;
    color: red !important;
}
.fc-table td b {
    font-size: 14px;
}
.fc-table td span {
    font-size: 12px;
    color: #5b5b5b;
}
.fc-table td:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgb(1, 1, 1);
}





